# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/
.env.*

# === IDE / Editor ===
.vscode/
.idea/
*.swp

# === OS Files ===
.DS_Store
Thumbs.db

# === Images (opcional si son solo de prueba) ===
#input.jpg
output_bw.jpg
